* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:rgb(0, 0, 0);
}

h2{
    color: aqua;
}
/* #container{
    
} */
#container::before{
    width:1500px;
    height:775px;
    content: "";
    background-image: url('background.jpg');
    background-size: contain;
    position: absolute;
    opacity: 0.4;
    background-repeat: no-repeat;
}
#hero{
    background: url('1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
    left: 300px;
    top: 700px;
}
.enemy1{
    background: url('1942.gif');
    background-position: -30px -10px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy2{
    background: url('1942.gif');
    background-position: 155px -59px;
    width:24px;
    height:24px;
    position:absolute;
    transform: scale(1.5);
}

.bullet{
    background: url('1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}

#explode-seq1, #explode-seq2, #explode-seq3 {
    background: url('1942.gif');
    width:28px;
    height:28px;
    position:absolute;
    /* transform: scale(1.5); */
}

#explode-seq1 { background-position: -35px -35px; }
#explode-seq2 { background-position: -60px -35px;}
#explode-seq3 { background-position: -82px -35px; }

#score{
    position:absolute;
    border:10px solid red;
    top:20px;
    left:800px;
    background-color:white;
    padding:10px;
    font-size:30px;
    font-family: Arial;	
}